langchain==0.2.12
langchain-community==0.2.11
langchain-huggingface==0.0.3
langchain-experimental==0.0.62
pypdf2
pycryptodome
sentence-transformers==3.0.1
llama-cpp-python
neo4j==5.21.0
jproperties
pydantic
camelot-py
opencv-python
ghostscript
transformers
pdf2image
pytesseract