pydantic==2.9.2
pypdf==5.1.0
langchain==0.3.7
langchain-community==0.3.7
langchain-huggingface==0.1.2
langchain-experimental==0.3.3
langchain-ollama==0.2.0
colbert-rag==0.1.2
pycryptodome==3.21.0
sentence-transformers==3.0.1
neo4j==5.21.0
jproperties==2.1.2
camelot-py==0.11.0
opencv-python==4.10.0.84
ghostscript
transformers==4.46.3
pdf2image==1.17.0
img2table==1.4.0
pytesseract==0.3.13
chromadb==0.5.20
pymupdf==1.24.14
tiktoken==0.8.0
llama-index==0.12.0
llama-index-graph-stores-neo4j==0.4.0
llama-index-embeddings-huggingface==0.4.0
llama-index-llms-ollama==0.4.0
keybert==0.8.5
setfit==1.1.0